<!doctype html>
<html lang="en" class="no-js" color-mode="dark"> 
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-30261260-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-30261260-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The online portfolio of UI/UX Designer &amp; Front-end Developer Brian Maier Jr."/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png' | url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16.png' | url }}">
    <link rel="manifest" href="{{ '/site.webmanifest' | url }}">
    <link rel="mask-icon" href="{{ '/safari-pinned-tab.svg' | url }}" color="#6d55f5">
    <meta name="msapplication-TileColor" content="#6d55f5">
    <meta name="theme-color" content="#141414">

    <!-- Open Graph Meta -->
    <meta content="{{ metadata.title }}" property="og:site_name">
    {%- if title %}
    <meta content="{{ title }}" property="og:title">
    {%- else %}
    <meta content="{{ metadata.title }}" property="og:title">
    {%- endif %}
    <meta content="website" property="og:type">
    {%- if description %}
    <meta content="{{ description }}" property="og:description">
    {%- else %}
    <meta content="{{ metadata.description }}" property="og:description">
    {%- endif %}
    {%- if metadata.url %}
    <meta content="{{ metadata.url }}{{ url }}" property="og:url">
    {%- endif %}
    {%- if date %}
    <meta content="{{ date | date_to_xmlschema }}" property="article:published_time">
    <meta content="{{ metadata.url }}/about/" property="article:author">
    {%- endif %}
    {%- if image %}
    <meta content="{{ metadata.url }}/assets/img/{{ image }}" property="og:image">
    {%- else %}
    <meta content="{{ '/assets/img/social.jpg' | prepend: metadata.url }}" property="og:image">
    {%- endif %}

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{ metadata.social.twitter }}">
    <meta name="twitter:creator" content="@{{ metadata.social.twitter }}">
    {%- if title %}
    <meta name="twitter:title" content="{{ title }}">
    {%- else %}
    <meta name="twitter:title" content="{{ metadata.title }}">
    {%- endif %}
    {%- if url %}
    <meta name="twitter:url" content="{{ metadata.url }}{{ url }}">
    {%- endif %}
    {%- if description %}
    <meta name="twitter:description" content="{{ description }}">
    {%- else %}
    <meta name="twitter:description" content="{{ metadata.description }}">
    {%- endif %}
    {%- if image %}
    <meta name="twitter:image:src" content="{{ metadata.url }}/assets/img/{{ image }}">
    {%- else %}
    <meta name="twitter:image:src" content="{{ '/assets/img/social.jpg' | prepend: metadata.url }}">
    {%- endif %}
    {% if title %}
    <title>{{ title }}</title>
    {%- else %}
    <title>{{ metadata.title }}</title>z 
    {%- endif %}
    <link href="{{ '/assets/css/site.css' | url }}" rel="stylesheet" /> 

    <script>
      // This code assumes a Light Mode default
      if (
          /* This condition checks whether the user has set a site preference for dark mode OR a OS-level preference for Dark Mode AND no site preference */
          localStorage.getItem('color-mode') === 'light' ||
          (window.matchMedia('(prefers-color-scheme: light)').matches &&
          !localStorage.getItem('color-mode'))
      ) {
          // if true, set the site to Dark Mode
          document.documentElement.setAttribute('color-mode', 'light')
      }
    </script>
  </head>
  <body>
    {{ content | safe }}
    {% include footer.html %}
  </body>
</html>